Thumbs.db
CHANGELOG.md
.gradle
.classpath
.project
.launch
.tmproj
.idea
.gradle
*.iml
/build
Todo.md

# logs
stacktrace.log
/test/reports

/target/

# project release file
*.war

# project settings


src/main/webapp/backup/hilo-backup.json
